.BgTitle{
    color: #F94616 ;
}

.BgTitleW{
    color: white;
}

body{
    background-color: black;
}

#tablaEnvio{
    color: white;
}

.btnColor{
    color: #ffffff;
    background-color: #F94616;
}